<link rel="icon" type="image/png" href="/assets/images/BioBridge.png">
<script src="https://gumroad.com/js/gumroad.js"></script>
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png">
<link rel="shortcut icon" type="image/png" href="/assets/images/BioBridge.png">
<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/BioBridge.png">

<!-- Fonts and shared page styles (see assets/css/biobridge.css) -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,400;0,600;0,700;1,400&family=Source+Serif+4:ital,opsz,wght@0,8..60,600;1,8..60,600&display=swap">
<link rel="stylesheet" href="/assets/css/biobridge.css">
